<button (click)="addNewRow()" [disabled]="isAddRowDisabled" style="margin-bottom: 10px;">
  Add New Row
</button>



<dx-data-grid
  [dataSource]="dataSource"
  [showBorders]="true"
  [columnAutoWidth]="true"
  [allowColumnResizing]="true"
  [allowColumnReordering]="true"
  style="width: 600px"
>
  <dxi-column
    dataField="startDate"
    [validationRules]="[
      { type: 'required', message: 'Start Date is required' }
    ]"
    caption="Start Date"
    dataType="date"
  ></dxi-column>
  <dxi-column
    dataField="endDate"
    [validationRules]="[{ type: 'required', message: 'End Date is required' }]"
    caption="End Date"
    dataType="date"
  ></dxi-column>
  <dxi-column
    dataField="capacity"
    [validationRules]="[
      { type: 'required', message: 'Capacity is required' },
      {
        type: 'range',
        min: 0,
        max: 100,
        message: 'Capacity must be between 0 and 100'
      }
    ]"
    caption="Capacity"
    dataType="number"
  ></dxi-column>

  

  <dxo-editing
    mode="row"
    [allowAdding]="true"
    [allowDeleting]="true"
    [allowUpdating]="true"
    [confirmDelete]="false"
    [useIcons]="true"
    [newRowPosition]="'last'"
  ></dxo-editing>
</dx-data-grid>


